[Unit]
Description=Grafana service
After=network.target postgresql.service mariadb.service mysqld.service

[Service]
User=wink
Group=users
WorkingDirectory=/usr/share/grafana
#ExecStart=strace /usr/bin/grafana server --config=/home/wink/reth-prometheus-grafana/grafana/grafana.ini
ExecStart=/usr/bin/grafana server --config=/home/wink/reth-prometheus-grafana/grafana/grafana.ini
LimitNOFILE=10000
TimeoutStopSec=20
SuccessExitStatus=0 2
NoNewPrivileges=yes
ProtectSystem=full
ProtectHome=false
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
